@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    margin: 0;
    box-sizing: border-box; /* border dziecka zawiera się w borderze rodzica */
    font-family: "Rubik", sans-serif;
}

main {
    display: flex;
    overflow: hidden; /* to co się nie mieści to jest zakryte */
    transition: 0.2s; /* przejście można sterować 4 spr. w tym czasem */
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
}

.left_Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; /* z pionowym scrollbarem */
    width: 100%;
    max-width: 45%;
    min-width: 360px;
    height: 100vh;
    padding: 32px;
}

.right_Container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 55%;
    height: 100vh;
}

.lineWrapper {
    position: relative;
    margin-top: 12px;
    margin-bottom: 16px;
    height: 23px;
}

.lineWrapper::before {    /* ::before - tworzy wirtualny element wraz z zawartocią */
    content: "";       
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #edebf0;
}

.lineWrapper > p {
    position: absolute;
    left: 50%;
    display: block;
    transform: translate(-50%); /* cofa element o 50% własnej długości */
    margin: 0 auto;
    background-color: white;
    line-height: 23px;  /* wysokość pola liniowego albo ramek dla block */
    font-size: 16px;
    font-weight: 400;
}

.logotyp {
    position: absolute;
    z-index:3; /* kontrola warstw wyświetlania */
}

.input{
    position : relative;
    width: 100%;
    margin-top: 26px;
}

.input > input {
    border: 1px solid #edebf0;
    border-radius: 7px;
    width: 100%;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
}

.label {
    position: absolute;
    left: 6px;
    top: -10px;
    height: 20px;
    padding: 0 2px;
    background-color: white;
    font-size: 10px;
    line-height: 20px;
    color: #64606a;
}

#firstNameError {
    display: none;
}

#lastNameError {
    display: none;
}

#emailError {
    display: none;
}

#passwordError {
    display: none;
}

#termsError {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #ff6939;
}

@media (max-width: 600px) {     /* poniżej 600px obowiązują wartości z @media */

    .lineWrapper > p {          /* zmniejsza litery w napisie ---- Lub za pomocą maila ---- */
        font-size: 10px;
    }
    main {
        display: flex; 
        flex-direction: column-reverse;
        height: auto;
    }
    .right_Container {
        justify-content: start;     /* ustawia wzdłuż osi głównej */
        align-items: start;         /* ustawia wzdłuż osi poprzecznej do głównej */
        max-width: 100%;
        max-height: 250px;
        height: 50vh;
    }
    .left_Container {
        max-width: 100%;
        min-width: 303px;
        max-height: 50%;
        height: 100%;
    }
    .nameBox {
        flex-direction: column;
        gap: 0;
    }

}

@media (max-width: 900px) {     /* poniżej 900px obowiązują wartości z @media */

    .logotyp > img {            /* zmienia wysokość logotypu i ustala marginesy */
        margin: 32px;
        height: 150px;
    }

}