.background {
    width: 100%;
    height: 100%;
    background-image: url("./images/png/image69.png");
    background-size: cover; /* scalability of the image to the size of the container */
}

.item_register {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 528px;
    font-size: 24px;
}

.item_register > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #284642;
    border-radius: 7px;
    height: 50px;
    margin-bottom: 16px;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
}

.item_register > p {
    font-size: 24px;
    margin-bottom: 48px;
    margin-top: 88px;
    font-weight: bold;
    color: #190f27;
}

.nameBox {
    display: flex;
    column-gap: 24px;   /* sets the spacing between columns */
    width: 100%;
}

/* second button in turn in item_register */
.item_register button:nth-of-type(2) {
    margin-bottom: 32px;
}

.item_register > button > img {
    padding-right: 20px;
}

.first {
    margin-bottom: 36px;
}

.second {
    margin-top: 20px;
    margin-bottom: 16px;
}



#zapamietajMnie {     /* the original checkbox disappears */
    display: none;
}

label[for="zapamietajMnie"] {
    position: relative;
    display: inline-block; /* we set the element as block, which behaves like inline */
    margin-right: 10px;
    padding-left: 30px;
    cursor: pointer;
    user-select: none; /* inability to select text, e.g. for copying */
    font-size: 14px;
    color: #64606a;
}

/* we draw our own checkbox */
label[for="zapamietajMnie"]::before { 
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%); /* 50% of your height up */
    border: 2px solid #aaa;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

/* draw a "pipe" or "heart" */
input[type="checkbox"]:checked + label[for="zapamietajMnie"]::before {
    content: "\2713";        /* 2661"; */
    background-color: #284642;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

a {
    color: #64606a;
    font-size: 14px;
}


label > a {
    margin-left: 135px;
}

.login-in {
    color: #64606a;
    font-size: 14px;
}

.submit {
    border: none;
    border-radius: 7px;
    margin-top: 26px;
    width: 100%;
    height: 50px;
    background-color:#ff6939;
    font-size: 18px;
    font-weight: bold;
    color: #190f27;
}

#submit {
    margin-top: 24px;
}

#password {
    margin-bottom: 7px;
}

button {
    cursor: pointer;
}

.checkboxBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

@media (max-width: 600px) {

    a {
        font-size: 12px;
    }
    label[for="zapamietajMnie"]  {
        font-size: 12px;
    }
    .item_register {
        font-size: 12px;
    }
}

