/* In this file there will be various classes from Mariusz's imagination,
which will probably still be useful and we will find out their meaning ;) */

.title {
    margin-bottom: 16px;
    margin-top: 88px;
    font-size: 24px;
    font-weight: bold;
    color: #190f27;
}
  
.subtitle {
    font-size: 18px;
    color: #64606a;
}

.validationError {
    display: none;
    font-size: 10px;
    margin-top: 10px;
    color: #ce0737;
}

.textInput .error {
    border: 1px solid #ce0737;
}

.visible {
    display: block;
}

